<span style='color: #000'>971 frames</span>	<span style='color: #900'>22,784 KB</span>	<span style='color: #090'>469.73 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #0c0'>OFF</span></span><br />